{% extends '_base.html' %}
{% load static %}

{% block content %}
  <h2 class="text-2xl font-bold mb-4 dark:text-white">CSV Upload</h2>

  <!-- Bank selection buttons/images -->
    <h3 class="dark:text-white">Click on the logo of the bank from which you downloaded the CSV and from which you want to add incomes and expenses</h3>
 <div class="flex space-x-10 mb-4">
  <button onclick="selectBank('santander')" class="flex-1 border-dotted">
    <img src="{% static 'images/santander_logo.png' %}" alt="Santander" class="object-contain w-full h-full">
  </button>
  <button onclick="selectBank('nest')" class="flex-1">
    <img src="{% static 'images/nest_logo.png' %}" alt="Nest" class="object-contain w-full h-full">
  </button>
  <button onclick="selectBank('revolut')" class="flex-1">
    <img src="{% static 'images/revolut_logo.png' %}" alt="Revolut" class="object-contain w-full h-full">
  </button>
</div>




  <form method="post" enctype="multipart/form-data" id="uploadForm" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="bank" id="bank" value="">
    {{ form }}
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Upload</button>
  </form>

  {% if incomes or expenses %}
    <h3 class="text-xl font-bold mt-6 dark:text-white">Incomes:</h3>
    <ul class="list-disc list-inside mt-4">
      {% for income in incomes %}
        <li class="dark:text-white">Amount: {{ income.amount }}, Date: {{ income.date }}, Currency: {{ income.currency }}</li>
      {% endfor %}
    </ul>

    <h3 class="text-xl font-bold mt-6 dark:text-white">Expenses:</h3>
    <ul class="list-disc list-inside mt-4">
      {% for expense in expenses %}
        <li class="dark:text-white">Amount: {{ expense.amount }}, Date: {{ expense.date }}, Currency: {{ expense.currency }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <script>
    function selectBank(bank) {
      document.getElementById('bank').value = bank;
      document.getElementById('uploadForm').style.display = 'block';
    }
  </script>
{% endblock %}
