{% extends "_base.html" %}

{% block content %}

    <h1 class="text-3xl font-bold mb-4 text-center dark:text-white">Expense and Income Chart</h1>
<form method="GET" class="flex items-center mb-6 max-w-sm mx-auto">
    {% for field in form %}
        <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="block text-sm font-bold text-gray-700 dark:text-white">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <input class="button rounded bg-purple-500 hover:underline hover:bg-purple-200 py-2 px-4 ml-2 mt-3 dark:text-white" type="submit" value="Generate Chart">
</form>


    <div class="grid grid-cols-2 gap-4">
    {% if line_chart %}
        <div id="line-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Line Chart</h2>
            {{ line_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the line chart</h2>
    {% endif %}

    {% if percentage_bar_chart %}
        <div id="percentage-bar-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Incomes vs Expenses (Percentage) Bar Chart</h2>
            {{ percentage_bar_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the expense pie chart</h2>
    {% endif %}

    {% if income_pie_chart %}
        <div id="income-pie-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Income Pie Chart</h2>
            {{ income_pie_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the income pie chart</h2>
    {% endif %}

    {% if expense_pie_chart %}
        <div id="expense-pie-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Expense Pie Chart</h2>
            {{ expense_pie_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the expense pie chart</h2>
    {% endif %}
</div>


    <!-- Recent Transactions Section -->
    <div class="my-8 mt-6">
        <h1 class="text-3xl font-bold mb-4 text-center dark:text-white">Recent Transactions</h1>
        <ul class="space-y-4">
            {% for transaction in recent_transactions %}
                <li class="border p-4 rounded-md shadow-md">
                    <div class="flex items-center justify-between mb-2">
                        <span class="text-lg font-semibold dark:text-white">{{ transaction.date }}</span>
                        <span class="ml-4 dark:text-white">{{ transaction.amount }}{{ transaction.currency.symbol }}</span>
                    </div>
                    <div class="mb-2">{{ transaction.description }}</div>
                    {% if transaction.category.type == "income" %}
                        <span class="text-green-500 font-semibold">
                            ({{ transaction.category.type }})
                        </span>
                    {% elif transaction.category.type == "expense" %}
                        <span class="text-red-500 font-semibold">
                            ({{ transaction.category.type }})
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

        <!-- Currency Selection Section -->
    <div class="max-w-3xl mx-auto bg-white dark:bg-gray-700 p-4 rounded-lg shadow-md mt-6">
    <div class="max-h-64 overflow-y-auto">
        <table class="w-full">
            <caption class="bg-gray-200 dark:bg-gray-800 dark:text-white text-lg font-bold py-2 text-center mb-4">Exchange rates from {{ base_currency }}</caption>
            <thead>
                <tr>
                    <th class="px-4 py-2 dark:text-white">Currency</th>
                    <th class="px-4 py-2 dark:text-white">Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for currency, rate in exchange_rates.data.items %}
                    <tr>
                        <td class="px-4 py-2 dark:text-white">{{ currency }}</td>
                        <td class="px-4 py-2 dark:text-white">{{ rate|floatformat:4 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h1 class="mb-6 text-3xl text-gray-900 dark:text-white text-center">Select Base Currency</h1>
    <form method="get" class="w-full max-w-sm mx-auto">
    {% csrf_token %}
    <div class="mb-4">
        <label for="{{ currency_form.base_currency.id_for_label }}" class="dark:text-white">
            {{ currency_form.base_currency.label_tag }}
        </label>
        {{ currency_form.base_currency }}
    </div>
    <button type="submit" class="bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold py-2 px-4 rounded-full dark:bg-gradient-to-r dark:from-gray-700 dark:to-gray-900">Submit</button>
</form>

</div>


    <!-- Header -->
    <div class="text-xl font-bold text-gray-900 dark:text-white mt-4 mb-2">
        Expense Comparison by Category (click on the category to expand)
    </div>

    <!-- Category Selector -->
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select your category</label>
        <select id="tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for category, _ in expense_comparison_results.items %}
                <option>{{ category }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Category Buttons and Dropdowns -->
    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
        {% for category, currency_results in expense_comparison_results.items %}
            <li class="w-full">
                <button
                    id="{{ category|slugify }}-dropdownButton"
                    data-dropdown-toggle="{{ category|slugify }}-dropdown"
                    class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    aria-current="page"
                >
                    {{ category }}
                </button>

                <!-- Dropdown Content -->
                <div
                    id="{{ category|slugify }}-dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                >
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                        {% for currency, result_data in currency_results.items %}
                            <li>
                                <span class="{% if result_data.result == 'increased' %}text-red-500{% elif result_data.result == 'decreased' %}text-green-500{% else %}text-yellow-500{% endif %}">
                                    {{ currency }} - {{ result_data.result }}
                                </span>
                                {% if result_data.result != 'unchanged' %}
                                    <span class="{% if result_data.percentage_change > 0 %}text-red-500{% elif result_data.percentage_change < 0 %}text-green-500{% endif %}">
                                        {% if result_data.percentage_change > 0 %}+{% endif %}{{ result_data.percentage_change|floatformat:2 }}%
                                    </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
