{% extends "_base.html" %}

{% block content %}

    <h1 class="text-3xl font-bold mb-4 text-center">Expense and Income Chart</h1>
    <form method="GET" class="flex items-center mb-6 max-w-sm mx-auto">
        {{ form.as_p }}
        <input class="button rounded bg-purple-500 hover:underline hover:bg-purple-200 py-2 px-4 ml-2 mt-6" type="submit" value="Generate Chart">
    </form>

    <div class="grid grid-cols-2 gap-4">
    {% if line_chart %}
        <div id="line-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Line Chart</h2>
            {{ line_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the line chart</h2>
    {% endif %}

    {% if percentage_bar_chart %}
        <div id="percentage-bar-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Incomes vs Expenses (Percentage) Bar Chart</h2>
            {{ percentage_bar_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the expense pie chart</h2>
    {% endif %}

    {% if income_pie_chart %}
        <div id="income-pie-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Income Pie Chart</h2>
            {{ income_pie_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the income pie chart</h2>
    {% endif %}

    {% if expense_pie_chart %}
        <div id="expense-pie-chart" class="bg-white dark:bg-gray-800 rounded-lg p-4 shadow-md">
            <h2 class="text-lg font-bold mb-2 dark:text-white">Expense Pie Chart</h2>
            {{ expense_pie_chart | safe }}
        </div>
    {% else %}
        <h2 class="dark:text-white">No data available for the expense pie chart</h2>
    {% endif %}
</div>


    <!-- Recent Transactions Section -->
    <div class="my-8 mt-6">
        <h1 class="text-3xl font-bold mb-4 text-center">Recent Transactions</h1>
        <ul class="space-y-4">
            {% for transaction in recent_transactions %}
                <li class="border p-4 rounded-md shadow-md">
                    <div class="flex items-center justify-between mb-2">
                        <span class="text-lg font-semibold">{{ transaction.date }}</span>
                        <span class="ml-4">{{ transaction.amount }}{{ transaction.currency.symbol }}</span>
                    </div>
                    <div class="mb-2">{{ transaction.description }}</div>
                    {% if transaction.category.type == "income" %}
                        <span class="text-green-500 font-semibold">
                            ({{ transaction.category.type }})
                        </span>
                    {% elif transaction.category.type == "expense" %}
                        <span class="text-red-500 font-semibold">
                            ({{ transaction.category.type }})
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Currency Selection Section -->
    <div class="flex flex-col items-center">
    <!-- Header -->
    <div class="text-xl font-bold text-gray-900 dark:text-white mt-4 mb-2">
        Expense Comparison by Category
    </div>

    <!-- Category Selector (Dropdown for small screens) -->
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select your category</label>
        <select id="tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for category, _ in expense_comparison_results.items %}
                <option>{{ category }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Category Buttons and Dropdowns -->
    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
        {% for category, currency_results in expense_comparison_results.items %}
            <li class="w-full">
                <button
                    id="{{ category|slugify }}-dropdownButton"
                    data-dropdown-toggle="{{ category|slugify }}-dropdown"
                    class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    aria-current="page"
                >
                    {{ category }}
                </button>

                <!-- Dropdown Content -->
                <div
                    id="{{ category|slugify }}-dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                >
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                        {% for currency, result_data in currency_results.items %}
                            <li>
                                <span class="{% if result_data.result == 'increased' %}text-red-500{% elif result_data.result == 'decreased' %}text-green-500{% else %}text-yellow-500{% endif %}">
                                    {{ currency }} - {{ result_data.result }}
                                </span>
                                {% if result_data.result != 'unchanged' %}
                                    <span class="{% if result_data.percentage_change > 0 %}text-red-500{% elif result_data.percentage_change < 0 %}text-green-500{% endif %}">
                                        {% if result_data.percentage_change > 0 %}+{% endif %}{{ result_data.percentage_change|floatformat:2 }}%
                                    </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
