{% extends "_base.html" %}

{% block content %}
<div class="relative overflow-x-auto">
  <h2 class="dark:text-white">Saving Goals</h2>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Amount</th>
        <th scope="col" class="px-6 py-3">Goal</th>
        <th scope="col" class="px-6 py-3">Actions</th>
        <th scope="col" class="px-6 py-3">Add</th>
        <th scope="col" class="px-6 py-3">Subtract</th>
      </tr>
    </thead>
    <tbody>
      {% for goal in goals %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4"><a href="{% url 'saving_goals:goal-detail' goal.pk %}">{{ goal.name }}</a></td>
          <td class="px-6 py-4">{{ goal.amount }}{{goal.currency.symbol}}</td>
          <td class="px-6 py-4">{{ goal.goal }}{{goal.currency.symbol}}</td>
          <td class="px-6 py-4">
            <a href="{% url 'saving_goals:goal-update' goal.pk %}" class="text-blue-500 dark:text-blue-300 hover:underline">Edit</a> |
            <a href="{% url 'saving_goals:goal-delete' goal.pk %}" class="text-red-500 dark:text-red-400 hover:underline">Delete</a>
            <td>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="goal_id" value="{{ goal.id }}">
                <div class="flex space-x-2">
                <input type="number" name="amount_to_add" placeholder="Amount to Add" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add Money</button>
                </div>
            </form>
          </td>
          <td>
            <form method="post">
                {% csrf_token %}
            <input type="hidden" name="goal_id" value="{{ goal.id }}">
              <div class="flex space-x-2">
            <input type="number" name="amount_to_subtract" placeholder="Amount to Subtract" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <button type="submit" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:focus:ring-yellow-900">Subtract money</button>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <a href="{% url 'saving_goals:goal-create' %}" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Create New Saving Goal</a>
  {% endblock %}
